<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngIf="!(isLoggedIn | async)" tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="log-in-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isLoggedIn | async" (click)="deleteAllSessions()">
      <ion-icon aria-hidden="true" name="log-out-outline"></ion-icon>
      <ion-label>Logoff</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="camera-outline"></ion-icon>
      <ion-label>Tirar Foto</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
