<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Login</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleTheme()">
        <ion-icon [name]="isDarkTheme ? 'sunny-outline' : 'moon-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <span style=" background-color: black; width: 63px; border-radius: 4pt;">
      <ion-img
        src="../../assets/logo-sualtech.png" 
        alt="The Wisconsin State Capitol building in Madison, WI at night">
      </ion-img>
      </span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; justify-content: center; align-items: center; height: 100%; background-image: url('../assets/teste4.png'); background-size: 320px 220px; background-repeat: repeat; background-position: center;">
    <video #videoElement autoplay playsinline style="visibility: hidden; height: 0px;"></video>
    <ion-card style="width: 90%; max-width: 500px; text-align: center;">
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <span><br><br></span>
          <ion-input type="text" (ionInput)="onMatriculaInput($event)" fill="outline" placeholder="Exemplo(SP3086420)" [clearInput]="true" style="width: 95%;">
            <div slot="label">Matrícula:</div>
          </ion-input>
          <span><br><br></span>
          <ion-input type="text" (ionInput)="onTokenInput($event)" fill="outline" required [clearInput]="true" placeholder="Exemplo(X89!0aoto00...)" style="width: 95%;">
            <div slot="label">Token:</div>
          </ion-input>
          <span><br></span>
          <ion-button expand="block" id="open-loading" (click)="validarCampos()" class="ion-margin-top" style="width: 95%; color: white; height: 50px;">Entrar</ion-button>
          <ion-loading trigger="open-loading" message="Validando os Dados" duration="2000"></ion-loading>
          <span><br></span>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
